// @import '../../styles/base.scss';
@import '../../styles/base.scss';

.df-bp-field-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include children-row-margin(5px);
}
